html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*::before,
*::after {
    box-sizing: inherit;
} /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
:root {
    --gap: 30px;
    --height-header: 80px;
    --height-button: 56px;
    --ptop: 150px;
    --pd-section: 120px;
}
@-ms-viewport {
    width: device-width;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}
body {
    width: 100%;
    max-width: 100%;
    margin: auto;
    background: #fff;
    position: relative;
}
body .container-fluid {
    width: 100%;
    padding-right: var(--gap);
    padding-left: var(--gap);
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 767px) {
    body .container-fluid {
        padding-right: calc(var(--gap) / 2);
        padding-left: calc(var(--gap) / 2);
    }
}
body .container {
    width: 100%;
    padding-right: calc(var(--gap) / 2);
    padding-left: calc(var(--gap) / 2);
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    body .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    body .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    body .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    body .container {
        max-width: 1200px;
    }
}
body .mainwrapper {
    width: 100%;
    margin: auto;
    opacity: 1;
    pointer-events: auto;
}
img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
img.--center {
    margin: 0 auto;
    display: block;
}
a {
    text-decoration: none !important;
}
.cpn-new-mini {
    background: #7a7a7a2f !important;
    padding: 20px;
    margin-bottom: 20px;
}
.cpn-new-mini .title {
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
}
.cpn-new-mini.no-photo .item {
    grid-template-columns: 1fr;
}
.cpn-new-mini.no-photo .item .content {
    padding-left: 20px;
    position: relative;
}
.cpn-new-mini.no-photo .item .content::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    background: #91ad41;
    left: 0;
}
.cpn-new-mini .item {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #7a7a7a2f;
    margin-bottom: 10px;
}
.cpn-new-mini .item:last-child {
    padding-bottom: 0;
    border-bottom: unset;
    margin-bottom: 0;
}
.cpn-new-mini .item .thumnail {
    position: relative;
    overflow: hidden;
    padding-bottom: 75%;
    border-radius: 10px;
}
.cpn-new-mini .item .thumnail:hover img {
    transform: translate(-50%, -50%) scale(1.1);
    transition: 0.4s;
}
.cpn-new-mini .item .thumnail img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    transition: 0.4s;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 10px;
}
.cpn-new-mini .item .content .name {
    text-decoration: none;
    color: #000;
    transition: 0.4s;
    line-height: 20px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cpn-new-mini .item .content .name:hover {
    color: #91ad41;
    transition: 0.4s;
}
.cpn-new-mini .item .content .day {
    margin-bottom: 0;
    font-size: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #888;
    margin-top: 5px;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: "Open Sans", sans-serif;
}
.bannerdetail {
    height: 160px;
    background: url(../image/bg_detail-one.png) no-repeat center;
    background-size: cover;
    position: relative;
}
.bannerdetail_name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize;
}
.bannerdetail_name marquee {
    line-height: 50px;
}
.productdetail_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    align-items: center;
    padding: 50px 0;
}
.productdetail_content-image .thumnailbig {
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 15px;
}
.productdetail_content-image .thumnailbig::after {
    position: absolute;
    width: 100%;
    height: 0%;
    content: "";
    background: #00000025;
    bottom: 0;
    transition: 0.6s;
}
.productdetail_content-image .thumnailbig:hover::after {
    height: 100%;
    top: 0;
    transition: 0.6s;
}
.productdetail_content-image .thumnailbig .photo {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    transition: 0.4s;
}
.productdetail_content-image .thumnailmini::-webkit-scrollbar {
    background: transparent;
}
.productdetail_content-image .thumnailmini {
    display: flex;
    gap: 15px;
    max-width: 551px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.productdetail_content-image .thumnailmini .pic {
    min-width: 161px;
    border-radius: 15px;
    position: relative;
    padding-bottom: 110px;
    overflow: hidden;
}
.productdetail_content-image .thumnailmini .pic .photo {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
}
.productdetail_content-textbox .name {
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
    font-family: "Open Sans Condensed", sans-serif;
}
.productdetail_content-textbox .status {
    font-size: 20px;
    margin: 15px 0;
    color: #000;
    text-transform: capitalize;
}
.productdetail_content-textbox .price {
    color: #91ad41;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
}
.productdetail_content-textbox .shortdesc {
    font-size: 20px;
    padding: 25px 0;
    line-height: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    color: #000;
}
.productdetail_content-textbox .notes {
    font-style: italic;
    color: #d70018;
}
.productdetail_content-textbox .quality {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}
.productdetail_content-textbox .quality .wrap {
    display: flex;
    gap: 10px;
}
.productdetail_content-textbox .quality .wrap span {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #888888a3;
    position: relative;
    transition: 0.4s;
}
.productdetail_content-textbox .quality .wrap span:hover {
    background: #888888a3;
    transition: 0.4s;
}
.productdetail_content-textbox .quality .wrap span:hover i {
    color: #fff;
}
.productdetail_content-textbox .quality .wrap span i {
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.productdetail_content-textbox .quality .wrap #quality {
    width: 30px;
    height: 30px;
    outline: none;
    border-radius: 50%;
    border: 1px solid #888888a3;
    text-align: center;
}
.productdetail_content-textbox
    .quality
    .wrap
    #quality::-webkit-inner-spin-button,
.productdetail_content-textbox
    .quality
    .wrap
    #quality::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.productdetail_content-textbox .btn-add {
    display: inline-block;
    margin-top: 30px;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    background-image: -webkit-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%);
    position: relative;
    border: none;
}
.productdetail_content-textbox .btn-add:hover::after {
    z-index: 1;
    animation: light 2s linear forwards;
}
.productdetail_content-textbox .btn-add::after {
    opacity: 0;
    position: absolute;
    content: "";
    top: 0;
    z-index: -1;
    left: -100px;
    height: 100%;
    width: 100px;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        #fff 50%,
        rgba(255, 255, 255, 0) 100%
    );
    mix-blend-mode: lighten;
}
.description_content-banner {
    position: relative;
    background: url(../image/bg_detail-two.jpg) no-repeat center;
    height: 150px;
    background-size: cover;
    position: relative;
}
.description_content-banner .wrap {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.description_content-banner .wrap .name {
    font-size: 40px;
    color: #91ad41;
    font-weight: 600;
    line-height: 50px;
}
.description_content-banner .wrap .text {
    font-size: 17px;
    color: #888;
}
.description_content-tabs {
    display: flex;
    gap: 20px;
}
.description_content-tabs .tab {
    font-weight: 600;
    font-size: 21px;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    padding: 5px 0;
}
.description_content-tabs .tab:hover::before,
.description_content-tabs .tab.active::before {
    width: 100%;
    transition: 0.4s;
}
.description_content-tabs .tab::before {
    position: absolute;
    width: 0%;
    height: 2px;
    background: #000;
    top: 0;
    left: 0;
    content: "";
    transition: 0.4s;
}
.description_content-wrap .box {
    margin-top: 20px;
    display: none;
}
.description_content-wrap .box.active {
    display: block;
}
.description_content-wrap .box p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.description_content-wrap .box h1,
.description_content-wrap .box h2,
.description_content-wrap .box h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
}
.description_content-wrap .box h1 {
    font-size: 25px;
}
.description_content-wrap .box ul {
    padding-left: 30px;
}
.description_content-wrap .box ul li {
    list-style: initial;
    font-size: 20px;
    line-height: 25px;
}
.productsame {
    padding: 70px 0;
}
.productsame_content-heading {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    text-transform: uppercase;
}
.productsame_content-box {
    padding-top: 40px;
    width: 100%;
}
.productsame_content-box .item {
    text-align: center;
    width: calc(25% - 14px);
    margin-right: 20px;
    background: #8888883e;
}
.productsame_content-box .item .thumnail {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}
.productsame_content-box .item .thumnail .photo {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
}
.productsame_content-box .item .content {
    background: #88888825;
    padding: 15px 0;
}
.productsame_content-box .item .content .name {
    color: #000;
    font-size: 17px;
    transition: 0.4s;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.productsame_content-box .item .content .name:hover {
    color: #91ad41;
    transition: 0.4s;
}
.productsame_content-box .item .content .price {
    color: #91ad41;
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 10px;
}
@keyframes light {
    0% {
        left: -10%;
    }
    25% {
        opacity: 1;
        left: 20%;
    }
    50% {
        left: 60%;
    }
    75% {
        opacity: 0.2;
        left: 80%;
    }
    100% {
        opacity: 0;
        left: 100%;
    }
}
body {
    background: #fff;
}
.main .news {
    padding-top: 50px;
}
.main .news_content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}
.main .news_content-left .news_big {
    background: #7a7a7a2f;
    margin-bottom: 20px;
}
.main .news_content-left .news_big .thumnail {
    position: relative;
    padding-bottom: 58%;
    overflow: hidden;
}
.main .news_content-left .news_big .thumnail img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.9s;
}
.main .news_content-left .news_big .thumnail:hover img {
    transform: translate(-50%, -50%) scale(1.1);
    transition: 0.9s;
}
.main .news_content-left .news_big .content {
    padding: 10px 20px 20px 20px;
}
.main .news_content-left .news_big .content .name {
    display: inline-block;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    transition: 0.4s;
    padding: 20px 0 20px 10px;
    text-decoration: none;
    position: relative;
}
.main .news_content-left .news_big .content .name::before {
    position: absolute;
    content: "";
    height: 70%;
    width: 5px;
    background: #91ad41;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.main .news_content-left .news_big .content .name:hover {
    color: #91ad41;
    transition: 0.4s;
}
.main .news_content-left .news_big .content .desc {
    font-size: 16px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.main .news_content-left .news_big .content .desc.--importanttext {
    height: 100px;
    overflow: hidden;
}
.main .news_content-left .news_big .content .desc.--importanttext h1,
.main .news_content-left .news_big .content .desc.--importanttext h2,
.main .news_content-left .news_big .content .desc.--importanttext h3,
.main .news_content-left .news_big .content .desc.--importanttext h4,
.main .news_content-left .news_big .content .desc.--importanttext h5,
.main .news_content-left .news_big .content .desc.--importanttext h6,
.main .news_content-left .news_big .content .desc.--importanttext img,
.main .news_content-left .news_big .content .desc.--importanttext ul,
.main .news_content-left .news_big .content .desc.--importanttext li,
.main .news_content-left .news_big .content .desc.--importanttext ol,
.main .news_content-left .news_big .content .desc.--importanttext iframe,
.main .news_content-left .news_big .content .desc.--importanttext table {
    display: none;
}
.main .news_content-left .news_big .content .day {
    margin-bottom: 0;
    padding-top: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    text-transform: uppercase;
    font-size: 17px;
    color: #888;
    font-family: "Open Sans Condensed", sans-serif;
}
.main .news_content-left .news_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.main .news_content-left .news_list .item {
    background: #7a7a7a2f;
}
.main .news_content-left .news_list .item .thumnail {
    position: relative;
    overflow: hidden;
    padding-bottom: 87%;
}
.main .news_content-left .news_list .item .thumnail img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.4s;
}
.main .news_content-left .news_list .item .thumnail:hover img {
    transform: translate(-50%, -50%) scale(1.1);
    transition: 0.4s;
}
.main .news_content-left .news_list .item .content {
    padding: 10px;
}
.main .news_content-left .news_list .item .content .name {
    text-decoration: none;
    color: #000;
    transition: 0.4s;
    line-height: 20px;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.main .news_content-left .news_list .item .content .name:hover {
    color: #91ad41;
    transition: 0.4s;
}
.main .news_content-left .news_list .item .content .day {
    margin-bottom: 0;
    font-size: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #888;
    margin-top: 10px;
    text-transform: uppercase;
}
.main .news_content-left .custompaginate {
    margin-top: 20px;
}
.main .news_content-left .custompaginate .pagination .page-item .page-link {
    color: #91ad41;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}
.main .news_content-left .outstanding {
    background: #7a7a7a2f;
    margin-top: 20px;
    padding: 20px;
}
.main .news_content-left .outstanding .title {
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
}
.main .news_content-left .outstanding .outstanding-list .item {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #dbdbdb;
}
.main .news_content-left .outstanding .outstanding-list .item:last-child {
    border-bottom: unset;
    padding-bottom: 0;
    margin-bottom: 0;
}
.main .news_content-left .outstanding .outstanding-list .item .thumnail {
    position: relative;
    overflow: hidden;
    padding-bottom: 70%;
}
.main .news_content-left .outstanding .outstanding-list .item .thumnail img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.4s;
}
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .thumnail:hover
    img {
    transform: translate(-50%, -50%) scale(1.1);
    transition: 0.4s;
}
.main .news_content-left .outstanding .outstanding-list .item .thumnail i {
    position: absolute;
    font-size: 30px;
    right: 0;
    top: 0;
    color: transparent;
}
.main .news_content-left .outstanding .outstanding-list .item .content .name {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    line-height: 22px;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: 0.4s;
}
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .name:hover {
    color: #91ad41;
    transition: 0.4s;
}
.main .news_content-left .outstanding .outstanding-list .item .content .desc {
    font-size: 15px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-top: 10px;
}
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .desc.--importanttext {
    height: 75px;
    overflow: hidden;
}
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .desc.--importanttext
    h1,
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .desc.--importanttext
    h2,
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .desc.--importanttext
    h3,
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .desc.--importanttext
    h4,
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .desc.--importanttext
    h5,
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .desc.--importanttext
    h6,
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .desc.--importanttext
    ul,
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .desc.--importanttext
    li,
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .desc.--importanttext
    ol,
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .desc.--importanttext
    img,
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .desc.--importanttext
    iframe,
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .desc.--importanttext
    table,
.main
    .news_content-left
    .outstanding
    .outstanding-list
    .item
    .content
    .desc.--importanttext
    br {
    display: none;
}
.main .news_content-left .outstanding .outstanding-list .item .content .day {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #888;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
}
.main .news_content-right .category-news {
    background: #7a7a7a2f;
    margin-top: 20px;
    padding: 20px;
}
.main .news_content-right .category-news .title {
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 600;
    line-height: 30px;
}
.main .news_content-right .category-news .listcategory {
    margin-bottom: 0;
    padding-left: 0;
}
.main .news_content-right .category-news .listcategory li {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 0 5px 10px;
    transition: 0.4s;
}
.main .news_content-right .category-news .listcategory li a {
    text-decoration: none;
    color: #000;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 18px;
    transition: 0.4s;
    font-weight: 600;
}
.main .news_content-right .category-news .listcategory li i {
    font-weight: 600;
    transition: 0.4s;
}
.main .news_content-right .category-news .listcategory li:hover {
    background: #8888882a;
    transition: 0.4s;
}
.main .news_content-right .category-news .listcategory li:hover a {
    color: #91ad41;
    transition: 0.4s;
}
.main .news_content-right .category-news .listcategory li:hover i {
    color: #91ad41;
    transition: 0.4s;
}
.main .detailnew {
    padding: 40px 0;
}
.main .detailnew_content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}
.main .detailnew_content-left .detail-wrap .name {
    font-family: Playfair;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #363636;
    margin-bottom: 8px;
}
.main .detailnew_content-left .detail-wrap .date {
    padding: 10px 25px 10px 0;
    border-bottom: 1px dashed #dbdbdb;
    border-top: 1px dashed #dbdbdb;
    margin-bottom: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .detailnew_content-left .detail-wrap .date .left .cate {
    font-family: Arial;
    font-size: 15px;
    line-height: 20px;
    color: #363636;
    font-weight: 600;
}
.main .detailnew_content-left .detail-wrap .date .right {
    font-family: Arial;
    font-size: 15px;
    line-height: 20px;
    color: #363636;
    font-weight: 600;
}
.main .detailnew_content-left .detail-wrap .content-textarea {
    font-size: 18px;
    line-height: 24px;
    color: #363636;
    padding-bottom: 20px;
    border-bottom: 1px dashed #dbdbdb;
}
.main .detailnew_content-left .detail-wrap .content-textarea img {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 30px;
}
.main .detailnew_content-left .comment,
.description_content-wrap .comment {
    margin-top: 20px;
    background: #7a7a7a2f;
    padding: 20px;
}
.main .detailnew_content-left .comment .title,
.description_content-wrap .comment .title {
    font-size: 25px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 600;
    line-height: 30px;
}
.main .detailnew_content-left .comment .text,
.description_content-wrap .comment .text {
    font-size: 18px;
    font-family: "Open Sans Condensed", sans-serif;
    color: #888;
    display: flex;
    align-items: center;
    gap: 10px;
}
.main .detailnew_content-left .comment .form-group .user_comment,
.description_content-wrap .comment .form-group .user_comment {
    display: grid;
    gap: 20px;
    grid-template-columns: 60px 1fr;
    padding-bottom: 10px;
}
.main .detailnew_content-left .comment .form-group .user_comment .avatar,
.description_content-wrap .comment .form-group .user_comment .avatar {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    border-radius: 100%;
}
.main .detailnew_content-left .comment .form-group .user_comment .avatar img,
.description_content-wrap .comment .form-group .user_comment .avatar img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
}
.main .detailnew_content-left .comment .form-group .user_comment .infor .name,
.description_content-wrap .comment .form-group .user_comment .infor .name {
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
}
.main .detailnew_content-left .comment .form-group .user_comment .infor .day,
.description_content-wrap .comment .form-group .user_comment .infor .day {
    display: flex;
    font-family: "Open Sans", sans-serif;
    gap: 10px;
    text-transform: uppercase;
    align-items: center;
    color: #888;
    font-size: 13px;
}
.main .detailnew_content-left .comment .form-group .comment-form,
.description_content-wrap .comment .form-group .comment-form {
    position: relative;
    padding-bottom: 50px;
}
.main .detailnew_content-left .comment .form-group .comment-form .custom,
.description_content-wrap .comment .form-group .comment-form .custom {
    width: max-content;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.main .detailnew_content-left .comment .list_comment::-webkit-scrollbar,
.description_content-wrap .comment .list_comment::-webkit-scrollbar {
    background: transparent;
}
.main .detailnew_content-left .comment .list_comment,
.description_content-wrap .comment .list_comment {
    margin-top: 20px;
    overflow-y: scroll;
    max-height: 500px;
}
.main .detailnew_content-left .comment .list_comment .no-comment,
.description_content-wrap .comment .list_comment .no-comment {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}
.main .detailnew_content-left .comment .list_comment .item,
.description_content-wrap .comment .list_comment .item {
    border-bottom: 1px dashed #dbdbdb;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.main .detailnew_content-left .comment .list_comment .item:last-child,
.description_content-wrap .comment .list_comment .item:last-child {
    border-bottom: unset;
    margin-bottom: 0;
    padding-bottom: 0;
}
.main .detailnew_content-left .comment .list_comment .item .wrap,
.description_content-wrap .comment .list_comment .item .wrap {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 20px;
    padding-bottom: 10px;
}
.main .detailnew_content-left .comment .list_comment .item .wrap .avatar,
.description_content-wrap .comment .list_comment .item .wrap .avatar {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    border-radius: 100%;
}
.main .detailnew_content-left .comment .list_comment .item .wrap .avatar img,
.description_content-wrap .comment .list_comment .item .wrap .avatar img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
}
.main .detailnew_content-left .comment .list_comment .item .wrap .infor .name,
.description_content-wrap .comment .list_comment .item .wrap .infor .name {
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
}
.main .detailnew_content-left .comment .list_comment .item .wrap .infor .day,
.description_content-wrap .comment .list_comment .item .wrap .infor .day {
    display: flex;
    font-family: "Open Sans", sans-serif;
    gap: 10px;
    text-transform: uppercase;
    align-items: center;
    color: #888;
    font-size: 13px;
}
.main .detailnew_content-left .comment .list_comment .item .content,
.description_content-wrap .comment .list_comment .item .content {
    font-size: 16px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
}
:root {
    --blue: #91ad41;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
}
ul {
    padding-left: 0;
}
.navigation {
    position: fixed;
    width: 80px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
    left: 0;
}
.navigation.active {
    overflow-y: auto;
    width: 300px;
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: var(--white);
}
.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}
.tieude {
    font-size: 30px;
    font-family: "Dancing Script", cursive;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}
.manager_main {
    position: absolute;
    width: calc(100% - 80px);
    left: 80px;
    min-height: 100vh;
    background: #f0f3f5;
    transition: 0.5s;
}
.manager_main.active {
    width: calc(100% - 300px);
    left: 300px;
}
.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 10px;
}
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}
.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label {
    position: relative;
    width: 100%;
}
.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}
.search label ion-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 1.2rem;
    transform: translateY(-50%);
}
.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }
    .navigation.active {
        width: 300px;
        left: 0;
    }
    .manager_main {
        width: 100%;
        left: 0;
    }
    .manager_main.active {
        left: 300px;
    }
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
    .user {
        min-width: 40px;
    }
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active {
        width: 100%;
    }
    .toggle {
        z-index: 10001;
    }
    .manager_main.active .toggle {
        color: #fff;
        position: fixed;
        right: 0;
        left: initial;
    }
}
/* form crud product */
.form-box h2.title {
    margin: 20px 0 30px 30px;
    font-size: 28px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
        Roboto, Helvetica Neue, sans-serif;
    color: #212b35;
}
.form-box .wrap {
    margin: 0 30px 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
.form-box .wrap .box_left-top {
    padding: 30px;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.form-box .wrap .box_left-top .--same {
    margin-bottom: 20px;
}
.form-box .wrap .box_left-top .--same label {
    margin-left: 3px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.form-box .wrap .box_left-top .--same .desc {
    margin-top: 10px;
    margin-left: 3px;
    font-size: 14px;
    font-style: italic;
    color: #888;
}
.form-box .wrap .box_left-top .form_product-price {
    display: flex;
    gap: 10px;
    width: 100%;
}
.form-box .wrap .box_left-top .form_product-price .priceroot {
    width: 50%;
}
.form-box .wrap .box_left-top .form_product-price .pricesale {
    flex: 1;
}
.form-box .wrap .box_right .form_product-category {
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
    margin-bottom: 20px;
}
.form-box .wrap .box_right .form_product-category h4.title {
    font-size: 18px;
    margin-bottom: 17px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.form-box .wrap .box_right .form_product-category .list_category {
    display: flex;
    flex-direction: column;
}
.form-box .wrap .box_right .form_product-category .list_category label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}
.form-box
    .wrap
    .box_right
    .form_product-category
    .list_category
    label:last-child {
    margin-bottom: 0;
}
.form-box .wrap .box_right .form_product-status {
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
    margin-bottom: 20px;
    padding-bottom: 68px;
}
.form-box .wrap .box_right .form_product-status h4.title {
    font-size: 18px;
    margin-bottom: 17px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.form-box .wrap .box_right .form_product-status .list_status {
    display: flex;
    flex-direction: column;
}
.form-box .wrap .box_right .form_product-status .list_status label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
}
.form-box .wrap .box_right .form_product-status .list_status label:last-child {
    margin-bottom: 0;
}
.form-box .wrap .box_right .form_product-status button {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    float: right;
}

.form-box .wrap .box_right .form_product-cmtstatus,
.form-box .wrap .box_right .form_product-outstand,
.form-box .wrap .box_right .form_product-image,
.form-box .wrap .box_right .form_product-childimage {
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
    margin-bottom: 20px;
}
.form-box .wrap .box_right .form_product-cmtstatus h4.title,
.form-box .wrap .box_right .form_product-outstand h4.title,
.form-box .wrap .box_right .form_product-image h4.title,
.form-box .wrap .box_right .form_product-childimage h4.title {
    font-size: 18px;
    margin-bottom: 17px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.form-box .wrap .box_right .form_product-cmtstatus label,
.form-box .wrap .box_right .form_product-outstand label {
    display: flex;
    gap: 10px;
    align-items: center;
}
.form-box .wrap .box_right .form_product-cmtstatus .text,
.form-box .wrap .box_right .form_product-outstand .text {
    font-size: 14px;
    margin-top: 10px;
    line-height: 16px;
    color: #888;
    font-style: italic;
}
.form-box .wrap .box_right .form_product-childimage {
    padding: 10px 30px 11px;
}
.form-box .wrap .box_right .form_product-childimage .wrap_image {
    display: flex;
    gap: 10px;
    overflow: scroll;
    max-width: 260px;
    overflow-y: hidden;
}
.form-box
    .wrap
    .box_right
    .form_product-childimage
    .wrap_image::-webkit-scrollbar {
    background: transparent;
    height: 0px;
}
.form-box .wrap .box_right .form_product-image .thumnail,
.form-box .wrap .box_right .form_product-childimage .wrap_image .thumnail {
    position: relative;
    overflow: hidden;
    padding-bottom: 45%;
    min-width: 110px;
}
.form-box .wrap .box_right .form_product-image .thumnail img,
.form-box .wrap .box_right .form_product-childimage .wrap_image .thumnail img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    min-height: 100%;
}
.form-box .wrap .box_right .form_product-image .thumnail {
    padding-bottom: 68%;
    max-width: inherit;
}
/*# sourceMappingURL=style.min.css.map */

/* custom table */
.manager_content-product {
    background: #fff;
    margin-left: 30px;
    background: #fff;
    padding: 20px;
}
.manager_content-product .textbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
}
.manager_content-product .textbox h2 {
    font-size: 25px;
    color: #91ad41;
    font-weight: 600;
}
.manager_content-product .textbox .search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -65px;
}
#table_product-manage {
    border-collapse: collapse;
    max-width: 1320px;
    overflow: scroll;
    display: block;
    overflow-y: hidden;
}
#table_product-manage thead {
    background: #88888832;
}
#table_product-manage thead tr td {
    text-align: center;
}
#table_product-manage,
td {
    border: 1px dotted #88888832;
}
#table_product-manage::-webkit-scrollbar {
    background-color: transparent;
    height: 0px;
}
td {
    padding: 8px;
    vertical-align: top;
    text-align: center;
    min-width: 200px;
}
td.mw120 {
    min-width: 120px;
}
td.mw50 {
    min-width: 50px;
}
td.mw400 {
    min-width: 400px;
    text-align: left;
    /* height: 107px; */
    height: 120px;
    overflow: scroll;
    display: inline-block;
}
td.status .publish,
td.status .expected,
td.outstand .open,
td.outstand .close {
    display: flex;
    gap: 10px;
    align-items: center;
    text-transform: capitalize;
    margin-left: 7px;
    font-family: Inter var, ui-sans-serif, system-ui, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
td.status .publish .circle,
td.status .expected .circle,
td.outstand .open .circle,
td.outstand .close .circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #49de80;
    position: relative;
}
td.status .publish .circle::after,
td.status .expected .circle::after,
td.outstand .open .circle::after,
td.outstand .close .circle::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #4ade801a;
    transform: translate(-50%, -50%) scale(2);
}
td.status .expected .circle {
    background: #ffca2c;
}
td.status .expected .circle::after {
    background: #ffca2c2e;
}
td.outstand .close .circle {
    background: #fb7185;
}
td.outstand .close .circle::after {
    background: #fb71851a;
}
td.customimage .thumnail {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}
td.customimage .thumnail img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.alert-success {
    margin: 10px 0 10px 30px;
}
/* custompaginate */
.customnav nav {
    display: block;
    padding: 30px 0;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.customnav .flex.justify-between.flex-1 {
    display: none;
}
.customnav .hidden {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customnav svg {
    width: 20px;
    height: 20px;
}
.customnav a {
    text-decoration: none;
}
/* adminproduct */
.btnsearchproduct {
    position: absolute;
    border: none;
    height: 95%;
    right: 1px;
    padding: 0 20px;
    border-radius: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.alert-success {
    margin: 10px 0 10px 30px;
}
/*  customcategoryposstlisst*/
.categorypostlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    padding: 50px 0;
}
@media (max-width: 991px) {
    .categorypostlist {
        grid-template-columns: repeat(3, 1fr);
    }
}
.categorypostlist .item {
    background: #7a7a7a2f;
}
.categorypostlist .item .thumnail {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}
.categorypostlist .item .thumnail img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.categorypostlist .item .content {
    padding: 10px;
}
.categorypostlist .item .name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #000;
    font-family: "Open Sans", sans-serif;
    height: 42px;
    font-size: 16px;
    line-height: 21px;
    transition: 0.4s;
    font-weight: 600;
}
.categorypostlist .item .name:hover {
    color: #91ad41;
    transition: 0.4s;
}
.categorypostlist .item .day {
    font-size: 14px;
    color: #888;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    font-family: "Open Sans Condensed", sans-serif;
}
#btnloadmore {
    padding: 10px 40px;
    color: #fff;
    background: #91ad41;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s;
    border: 1px solid #91ad41;
}
#btnloadmore:hover {
    transition: 0.4s;
    color: #91ad41;
    background: transparent;
    border: 1px solid #91ad41;
}
.box_left-preview {
    background: #fff;
    padding: 0 30px;
}
.box_left-preview .title {
    padding-bottom: 10px;
    margin-left: 3px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.box_left-preview .thumnail {
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
}
.box_left-preview .thumnail img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 300px;
    height: auto;
}
